.box {
    background-image: url('https://i.ytimg.com/vi/dgqJRRJ7BqI/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Cinzel', serif;

}

#head {
    background-color:rgb(255, 238, 124);
    padding-left: 10px;
    
}

#top {
text-align: left;
 width: 51%;
 padding-left: 10px;
 background-color: #92B4EC;


}
 
button {
color: #92B4EC;
background-color: black;
border: white;
margin-right: 50%;
margin-left: 10px;

}

textarea {
    width: 50%;
    height: 150px;
    padding-left: 10px;
    margin-left: 10px;
    
   }
   
   #output {
       border: 1px solid black;
       height: 23vh;
       width: 50%;
       padding-left: 1rem;
       background-color: white;
       margin-left: 10px;
       
    
   }
    #mid {
      text-align:left;
      padding-left: 10px;
      background-color: #92B4EC;
      width: 51%;
    }
   
    #ty {
     text-align: left;
     padding-left: 10px;
     background-color: #92B4EC;
     width: 51%;
 
    }

    footer {
        background-color:rgb(255, 238, 124);
        margin-top: 20px;
        padding-left: 10px;
        padding-top: 5px;
        padding-right: 30px;
        color: black;
        font-weight: bolder;
        font-size: larger;
       
    }
   h1 {
    align-items: center;
    color: white;

   }

   h2 {
     color: black;
    
   }
   
   #links {
    align-content: left;

   }
   