.box {
    background-image: url('https://hdqwalls.com/wallpapers/minions-poster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#head {
    background-color:rgb(255, 238, 124);
}

#top {
text-align: left;
 width: 800px;


}
 
button {
background-color: blue;
width: 100px;
margin-left: 700px;
}
textarea {
    width: 765px;
    height: 150px;
    padding: 1rem;
    
   }
   
   #output {
       border: 1px solid black;
       height: 23vh;
       width: 780px;
       padding-left: 1rem;
       background-color: white;
       
    
   }
    #mid {
text-align:left;
    }
   
    #ty {
     text-align: left;

    }

    footer {
        background-color:rgb(255, 238, 124);
        margin-top: 20px;
        padding-left: 30px;
        padding-top: 5px;
        padding-right: 30px;
       
    }
   h1 {
    align-items: center;
    color: blue;


   }

   h2 {
    color: blue;
    

   }

   h3 {
    color: blue;
    

   }