#container
 {
    background-color: rgb(255, 238, 124);
    text-align: center;
    margin-top: 150px;
    border-radius: 100px;
 }
button {
background-color: blue;
width: 100px;
position: absolute;


}
textarea {
    width: 600px;
    height: 150px;
    padding: 1rem;
    margin-left: 00px;
   }
   
   #output {
       border: 1px solid white;
       height: 23vh;
       width: 39.5%;
       margin-left: 450px;
       padding-left: 1rem;
       background-color: white;

    
    
   }
   
   
   h1 {
    color: blue;
   }

   h2 {
    color: blue;
   }

   h3 {
    color: blue;
   }